node_modules
.idea
lib
yarn.lock
package-lock.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
demo/node_modules
demo/package-lock.json
demo/yarn.lock
demo/.pnp
demo.pnp.js
demo/build

# testing
demo/coverage

# misc
demo/.DS_Store
demo/.env.local
demo/.env.development.local
demo/.env.test.local
demo/.env.production.local

demo/npm-debug.log*
demo/yarn-debug.log*
demo/yarn-error.log*
